<div class="gallery">
    <img src="/images/21 Lezioni.jpeg">
    <img src="/images/812Or5pOy+L.jpeg">
    <img src="/images/81MZDVHcYKL.jpeg">
    <img src="/images/Carne Sprecata.jpeg">
    <img src="/images/come_trattare_altri_farseli_amici.jpeg">
    <img src="/images/Homo Deus.jpeg">
    <img src="/images/sapiens.jpeg">
    <img src="/images/Shining.jpeg">
</div>