<!DOCTYPE html>
<html>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <head>
      <title> LAMBooksDB </title>
      <link rel="icon" href="/images/icon_website.png">
      <link rel="stylesheet" href="/stylesheets/Page_template_style.css">
   </head>

   <body>
      <div id="header">
         <span onclick="openNav()">
            <div class="menu_icon">
               <div class="line"></div>
               <div class="line"></div>
               <div class="line"></div>
            </div>
            <script>
               function closeNav() {
                  document.getElementById("Sidebar_menu").style.width = "0";
                  document.getElementById("main").style.marginLeft = "0";
                  document.body.style.backgroundColor = "#403C3C";
               }
            </script>
         </span>
         <div id="title"> LAMbooksDB </div>
      </div>

      <div id="Sidebar_menu" class="sidenav">
         <a href="javascript:void(0)" class="close_menu" onclick="closeNav()">&times;</a>
         <script>
            function openNav() {
               document.getElementById("Sidebar_menu").style.width = "15%";
               document.getElementById("main").style.marginLeft = "10%";
               document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }
         </script>
         <a href="Read.html"> Read </a>
         <a href="/toread"> My List </a>
         <a href="Suggested.html"> Suggested </a>
         <a href="#" class="categories_dropdown closed" onclick="dropdown()"> Categories </a>
            <a href="#" class="literary_genres hidden"> Giallo </a>
            <a href="#" class="literary_genres hidden"> Rosa </a>
            <a href="#" class="literary_genres hidden"> Saggistica </a>
            <a href="#" class="literary_genres hidden"> Favole </a>
            <a href="#" class="literary_genres hidden"> Horror </a>
            <a href="#" class="literary_genres hidden"> Azione </a>
            <a href="#" class="literary_genres hidden"> Avventura </a>
            <a href="#" class="literary_genres hidden"> Biografia </a>
            <a href="#" class="literary_genres hidden"> Autobiografia </a>
            <a href="#" class="literary_genres hidden"> Storico </a>
      </div>
      <script>
         function dropdown() {
            var menu = document.querySelector('.categories_dropdown');
            var categories = document.querySelectorAll('.literary_genres');

            if (menu.classList.contains('closed')) {
               menu.classList.remove('closed');
               categories.forEach( (cat) => {
                  cat.classList.remove('hidden');
               });
            } else {
               menu.classList.add('closed');
               categories.forEach( (cat) => {
                  cat.classList.add('hidden');
               });
            }
         }
      </script>

      <form action="/search" method="POST">
         <label for="search">Search</label>
         <input name="settings" id="search" type="search" pattern=".*\S.*" required>
         <span class="caret"></span>
      </form>

      <div class="content-block">
        <h2>Results of the search for "<%=search%>":</h2>
        <% if (typeof message !== 'undefined') { %>
            <p><%= message %></p>
        <% } %>
        <% if (typeof list !== 'undefined') { %>
            <div class="list_books">
            </div>
            <button id='load'>Load more</button>
            <script>
               var books = <%-list%>;
               var listBooks = document.querySelector('.list_books');
               var i=0;
               for (; i<5; i++) {
                  let newContainer = newBookContainer(books[i]);
                  listBooks.appendChild(newContainer);
               }
               let loadButton = document.getElementById('load');
               loadButton.addEventListener('click', () => {
                  let numElements = i + 5;
                  for (; i<numElements && i < books.length; i++) {
                     let newContainer = newBookContainer(books[i]);
                     listBooks.appendChild(newContainer);
                  }
                  if (i === books.length)
                     loadButton.remove();
               });

               function newBookContainer(book) {
                  let newContainer = document.createElement('div');
                  newContainer.className = 'book-container';

                  let thumbnail = document.createElement('div');
                  thumbnail.className = 'thumbnail';
                  if (book.thumbnail?.smallThumbnail)
                     thumbnail.innerHTML = `<img src="${book.thumbnail.smallThumbnail}">`;
                  else if (book.thumbnail?.thumbnail)
                     thumbnail.innerHTML = `<img src="${book.thumbnail.thumbnail}">`;
                  else 
                     thumbnail.innerHTML = '<img src="/images/sapiens.jpeg">';

                  let infoContainer = document.createElement('div');
                  infoContainer.className = 'info-container';

                  let title = document.createElement('p');
                  title.className = 'info-title';
                  title.appendChild(document.createTextNode(trimTitle(book.title)));
                  infoContainer.appendChild(title);

                  let authors = document.createElement('p');
                  authors.className = 'info-authors';
                  authors.appendChild(document.createTextNode(book.authors ? book.authors : "Unknown author"));
                  infoContainer.appendChild(authors);

                  newContainer.appendChild(thumbnail);
                  newContainer.appendChild(infoContainer);

                  let forms = document.createElement('div');
                  forms.className = 'addToList-buttons';
                  let formToRead = document.createElement('form');
                  formToRead.method = 'POST';
                  formToRead.action = '/search/add/toread';
                  let input = document.createElement('input');
                  input.type = 'hidden';
                  input.name = 'book';
                  input.value = JSON.stringify(book); //book.isbn[0]?.identifier ?? book.isbn[1]?.identifier;
                  let submitBtn = document.createElement('button');
                  submitBtn.innerText = 'to read';
                  if (book.toRead) {
                     submitBtn.disabled = true;
                  }
                  formToRead.appendChild(input);
                  formToRead.appendChild(submitBtn);
                  newContainer.appendChild(formToRead);

                  return newContainer;
               }

				function trimTitle(originalTitle) {
					if (originalTitle.length > 100) {
						return originalTitle.substring(0, 99) + "...";
					} else {
						return originalTitle;
					}
				}
            </script>
        <% } %>
      </div>
   </body>
</html>