<h2><%=name%>'s books to read</h2>
<% if (typeof message !== 'undefined') { %>
   <p><%= message %></p>
<% } %>
<% if (typeof list !== 'undefined') { %>
   <div class="list_books">
   </div>
   <button id='load'>Load more</button>
   <script>
      var books = <%-list%>;
      var listBooks = document.querySelector('.list_books');
      var i=0;
      for (; i<5; i++) {
         let newContainer = newBookContainer(books[i]);
         listBooks.appendChild(newContainer);
      }
      let loadButton = document.getElementById('load');
      loadButton.addEventListener('click', () => {
         let numElements = i + 5;
         for (; i<numElements && i < books.length; i++) {
            let newContainer = newBookContainer(books[i]);
            listBooks.appendChild(newContainer);
         }
         if (i === books.length)
            loadButton.remove();
      });

      function newBookContainer(book) {
         let newContainer = document.createElement('div');
         newContainer.className = 'book-container';

         let thumbnail = document.createElement('div');
         thumbnail.className = 'thumbnail';
         thumbnail.innerHTML = '<img src="/images/sapiens.jpeg">';

         let infoContainer = document.createElement('div');
         infoContainer.className = 'info-container';

         let p = document.createElement('p');
         infoContainer.className = 'info-title';
         p.appendChild(document.createTextNode(book.title));
         infoContainer.appendChild(p);

         p = document.createElement('p');
         infoContainer.className = 'info-isbn';
         p.appendChild(document.createTextNode(book.isbn[0].identifier));
         infoContainer.appendChild(p);

         newContainer.appendChild(thumbnail);
         newContainer.appendChild(infoContainer);
         return newContainer;
      }
      
   </script>
<% } %>
